<% include ../../partials/default/header %>

<div class="container show_HeadContain">
  <h2 class="text_center">We are going to need a location.</h2>
</div>

<div>
  <a href="/loc_cpp/gps" class="btn btn-lg btn-default fpt_loc_opt_btns" id="fpt_loc_gps">Locate Me By
    GPS</a>
  <h2 class="fpt_loc_opt_btns">Or,</h2>

  <a href="<%=current_url%>/search" class="btn btn-lg btn-default fpt_loc_opt_btns" id="cpp_loc_search" data-toggle="tooltip" data-placement="top" title="Need to add functionality" disabled>
    Search By City Name
  </a>
  <!-- <input type="submit" class="btn btn-lg btn-default fpt_loc_opt_btns" value="Locate Me By GPS" id="fpt_loc_gps"> -->



</div>


<% include ../../partials/default/footer %>